
.App {
  background-color:white;
  min-height: 100vh;
  width: auto;
  font-size: calc(10px + 2vmin);
  font-family: 'Times New Roman', Times, serif;
}

.headerSignAvaliable{
  display: 'flex';
  flex-direction: 'row';
  align-content: center;
  align-items:center;
}


.header{
 
  color:gray;

}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.search{
  font-size: calc(20px + 2v);
  font-family:'Times New Roman', Times, serif;
  color: black;

}
.searchTextBtn{
  display: flex;
  
}

.btnSignin{
  background-color: black;
}